<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Crypto porfolio{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div>
                <a class="link" href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
